<header class="p--2">

	<div class="grid grid--header">

		<a href="{{ '/' | url }}" class="grid__item grid__item--span-2 link-nostyle">
      {# SEO: home page header title should be inside a h1 tag #}
      {% if page.url == "/" %}
				<h1>{{ settings.metadata.site_title }}</h1>
      {% else %}
        <span>{{ settings.metadata.site_title }}</span>
      {% endif %}
		</a>

		<a href="/contact" class="grid__item">Contact</a>
		{# <a href="mailto:hello@pipebenitez.com?subject=Photography%20Inquiry" class="grid__item">Contact</a> #}

		    {% if settings.metadata.site_social_url %}
      <div class="grid__item">
        <span>
          <a href="{{ settings.metadata.site_social_url }}" target="_blank" rel="noopener">{{ settings.i18n.site_social_title }}</a>
        </span>
      </div>
    {% endif %}

	</div>

</header>
